@model ProductCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">Edit @Model.Title</h2>
<hr />
<div class="row m-5 d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card mb-5">
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" type="file" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    @if (@ViewBag.Image != null && @ViewBag.Image.Length > 0)
                        {
                            string imageSource = $"data:image;base64,{Convert.ToBase64String(@ViewBag.Image)}";
                            <img src="@imageSource" height="100" width="100"/>
                        }
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary btn-block mt-2" />
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-id=@Model.ID class="float-right btn btn-info">Back to Detail</a>
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
