@model IEnumerable<Product>
@{
    ViewData["Title"] = "Farmer Details";
}
<div class="row">

    <div class="farmer-infos col-md-4 mb-5">
        <h4 class="text-center mt-3">@ViewBag.Farmer.FarmName</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Phone Number
            </dt>
            <dd>
                @ViewBag.Farmer.PhoneNumber
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @ViewBag.Farmer.Email
            </dd>
            <dt>
                Description
            </dt>
            <dd>
                @ViewBag.Farmer.Description
            </dd>
            <dt class="text-center mt-4">
                Map
            </dt>
            <dd class="mt-4">
                <div id="farmer-detail-map"></div>
            </dd>
        </dl>
    </div>

    <div class="col-md-8">
        <h4 class="mt-3 text-center"><strong>Products of My Farm</strong></h4>

        <div class="mt-5 mb-5 m-2">
            <div class="d-flex flex-wrap justify-content-center">
                @foreach (var product in Model)
                {
                    @await Html.PartialAsync("_ProductCard", product)
                }
            </div>
        </div>
    </div>
</div>

<script>
    var map;
    var farmer = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Farmer))');

    function initMap() {

        map = new google.maps.Map(document.getElementById('farmer-detail-map'), {
            zoom: 8,
            center: {lat: farmer.latitude, lng: farmer.longitude},
            mapTypeId: 'terrain'
        });

        var marker = new google.maps.Marker({
            position: {lat: farmer.latitude, lng: farmer.longitude},
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2DE8ng2ubnaykb6ZToJbYwXKHD7iGS8o&callback=initMap"
        async defer></script>